footer {
  padding: 2rem;
  background-color: rgb(30 30 30);
  color: white;
  font-size: var(--body-font-size-xs);

  a {
    color: #337ab7 !important;
  }
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > .section {
    width: 33%;

    &:nth-of-type(3) {
      text-align: right;
    }

    &:nth-of-type(4) {
      text-align: center;
      width: 100%;
      flex-basis: 100%;
      margin-top: 30px;
    }
  }


}
